@import '../../styles/customMediaQueries.css';
.container {
  --gap: 2rem;

  display: grid;
  width: min(95%, 800px);
  margin: 2rem auto;
  grid-template-columns: 1fr;
  gap: var(--gap);
  @media (min-width: 768px) {
    --gap: 3rem;

    grid-template-columns: repeat(2, 1fr);
  }
}

.cardContainer {
  border-radius: 10px;
  background-color: white;
  /* padding: 2rem 1.5rem; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
  overflow: hidden;

  /* text-align: center; */
  & header {
    background-color: #ff9e28;
    padding: 1rem;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);

    font-size: 1.5rem;
    /* color: #111; */
    font-weight: bold;
    text-align: center;
  }
  & figure {
    padding: 1rem;
    text-align: center;
  }
  & figcaption {
    line-height: 1.4;
    margin-top: 1.5rem;
    font-size: 0.975rem;
  }
}

.button {
  margin: 0 1rem;
  width: calc(100% - 2rem);
  display: inline-block;
  background: #ff9e28;
  color: white;
  border: none;
  border-radius: 999px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
  padding: 0.5rem 1rem;

  &.cancelButton {
    background-color: hsl(0, 65%, 50%);
    &:hover {
      background-color: hsl(0, 65%, 39%);
    }
    &:disabled {
      background-color: hsl(0, 0%, 70%);
      box-shadow: none;
      pointer-events: none;
    }
  }

  &:hover {
    background: #d48421;
  }

  &:disabled {
    background-color: hsl(0, 0%, 70%);
    box-shadow: none;
    pointer-events: none;
  }

  @media (--viewportMedium) {
    font-size: 0.9rem;
    padding: 0.25rem 1rem;
  }
}

.figure {
  height: 200px;
  object-fit: contain;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.text {
  line-height: 1.4;
}

.error {
  text-align: center;
  color: red;
  margin: 0;
}
